<!-- ======= Hero Section ======= -->
  <section id="hero">
    <%-include('msg');%>
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="font-weight: 400;">Vaccine Distribution</h1>
      <div class="container">
      <h5 style="font-weight: 300;"> At present, all vaccines required for the Universal Immunisation Program are purchased at the central level for distribution to the states. The procurement of vaccines by the central government/organisation is done under the overarching General Financing Rules (GFR). The vaccines are purchased using Annual Rate Contracts (as per GFR) against which Supply Orders are issued. Parallel contracts are awarded for most vaccines, because no single domestic manufacturer has enough available production capacity to cover the entire annual requirement.
      </h5>
      </div>
    </div>
  </section><!-- End Hero Section -->

<!--========About section=====-->
  <div class="section-full content-inner bg-white">
            <div class="container">
                    <div class="row d-flex">
                        <div class="col-lg-6 col-md-12 align-self-center m-b30">
							<div class="section-head covid-head m-b20 " data-aos="fade-right" data-aos-delay="100">
								<h2 class="title">Know More About<br>Corona Virus <span class="text-red">(COVID-19)</span></h2>
								<p class="m-b15">COVID-19 is the infectious disease caused by the most recently discovered corona virus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019. </p>
							</div>
							<ul class="list-check primary">
								<li data-aos="fade-up"  data-aos-delay="100">Wash your hands regularly for 20 seconds.</li>
								<li data-aos="fade-up" data-aos-delay="100" >Cover your nose and mouth with a disposable tissue.</li>
								<li data-aos="fade-up" data-aos-delay="100">Avoid close contact (1 meter or 3 feet) with people.</li>
								<li data-aos="fade-up" data-aos-delay="100" >Stay home and self-isolate from others in the household.</li>
								<li data-aos="fade-up" data-aos-delay="100" >Protect yourself and help prevent spreading the virus.</li>                                       
							</ul>
                            
						</div>
                        <div class="col-lg-6 col-md-12 m-b30">
                            <div class="covid-about-img" data-aos="fade-up-left"  data-aos-duration="5000" >
								<img class="img-about" src="images/doctor2.png" alt="doctor.jpeg">
							</div>
                        </div>
                    </div>
            </div>
        </div>
</div><!--end of about section-->
<!--=====counter section=======-->
<div>
<div class="counter__area counter2">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="counters">
                   <div class="counters__wrap">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp " data-wow-delay="0.2">
                                    <h2 >
                                        <div>
                                            <span class="count">586244</span>
                                        </div>
                                    </h2>
                                    <p>Active</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp " data-wow-delay="0.3">
                                    <h2 >
                                        <div>
                                            <span class="count">39795</span>
                                        </div>
                                    </h2>
                                    <p>Deceased</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp ctype2" data-wow-delay="0.2">
                                    <h2 >
                                        <div>
                                            <span class="count">1282215</span>
                                        </div>
                                    </h2>
                                    <p>Recovered </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp " data-wow-delay="0.4">
                                    <h2 >
                                        <div>
                                            <span class="count">1908254</span>
                                        </div>
                                    </h2>
                                    <p>Confirmed</p>
                                </div>
                            </div>
                            <div class="col-12 text-center wow fadeInUp">
                                <div class="space-30"></div>
                                <h6 class="emergency">*** Updated less than 20 mins ago</h6>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!--end of counter section-->
<!--===precautions section====-->
<div class="container prec">
    <div class="title-custom-embed group-x-15 group-x-xl-85 d-flex flex-wrap align-items-center" data-aos="zoom-in"  data-aos-duration="5000">
              <div>
                <h2><span class="font-weight-normal text-primary">Important </span><span class="font-weight-bold">Precautions</span></h2>
              </div>
              <div>
                <h4 class="font-weight-normal font-italic h4-margin" style="position: relative; z-index: 0"><span class="text-secondary">What </span><span>You Should Know</span></h4>
              </div>
            </div>
    <div class="row row-cols-1 row-cols-md-3">
 
  <div class="col mb-3">
    <div class="card " data-aos="zoom-in">
      <img src="images/calender.gif" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Stay home, social distancing</h5>
        <p class="card-text">Practice social distancing and don’t leave your your home without any urgent need to stay safe.</p>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card " data-aos="zoom-in">
      <img src="images/mask.gif" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Wear a mask if available</h5>
        <p class="card-text">A face mask is a must if you have symptoms of cold, flu, COVID-19 or other viruses and infections.</p>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card" data-aos="zoom-in">
      <img src="images/handshake.gif" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Avoid direct contact</h5>
        <p class="card-text">Avoiding any direct contact allows you to increase your protection from the emerged COVID-19 virus.</p>
      </div>
    </div>
  </div>
</div>
</div><!--end of precaution section-->

<!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call Helpline (1075123)</h3>
            <p class="cta-text"> Health ministry toll-free helpline for queries related to covid-19.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call Helpline</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->
<!--symptoms section-->
 <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">What Are The Main Symptoms?</h3>
          <p class="section-description">The COVID-19 virus affects different people in different ways.COVID-19 is a respiratory disease and most infected people will develop mild to moderate symptoms and recover without requiring special treatment. People who have underlying medical conditions and those over 60 years old have a higher risk of developing severe disease and death.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/cough.png"></a></div>
              <h4 class="title"><a href="">Dry Cough</a></h4>
              
              <p class="description">Coughing is a symptom of illnesses and conditions. It is the major symptom of coronavirus.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/sore-throat.png"></a></div>
              <h4 class="title"><a href="">Sore Throat</a></h4>
              <p class="description">A sore throat is a painful, dry, or scratchy feeling in the throat.Pain in the throat is one of the most common symptoms.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/cold.png"></a></div>
              <h4 class="title"><a href="">Cold</a></h4>
              <p class="description">Cold last on average 7 to 10 days. The majority of the symptoms are actually not caused by the infection itself, but rather our body’s immune system trying get rid of it. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/fever.png"></a></div>
              <h4 class="title"><a href="">Fever</a></h4>
              <p class="description"> A temperature of more than 104°F (40°C) or less than 95°F (35°C) is cause for concern. Seek immediate medical help if this is the case.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/headache.png"></a></div>
              <h4 class="title"><a href="">Headache</a></h4>
              <p class="description">A headache can be caused by many factors related to the coronavirus, such as the physical discomfort of constant coughing and a stuffy sinus</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/vomiting.png"></a></div>
              <h4 class="title"><a href="">Vomiting</a></h4>
              <p class="description">Vomiting are said to be most common symptoms for the deadly virus. It can be a one-time event linked to something that doesn’t settle right in the stomach. </p>
            </div>
          </div>
        </div>

      </div>
    </section>
<!--===questions====-->

<div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column" data-aos="fade-right">
                        <div class="content-box" >
                            <div class="sec-title">
                                <h6>Freequently Asked Question</h6>
                                <h2>Common Question &amp; Answer</h2>
                            </div>
                            <div class="text">
                                <p>WHO is continuously monitoring and responding to this outbreak. This Q&amp;A will be updated as more is known about COVID-19, how it spreads and how it is affecting people worldwide. For more information, check back regularly on WHO’s coronavirus pages. <a href="index.html">https://www.who.int/emergencies/diseases- es/novel-coronavirus-2019</a></p>
                            </div>
                            <div class="btn-box"><a href="index.html" class="theme-btn">Have A Question?</a></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 faq-column" >
                        <ul class="accordion-box">
                            <li class="accordion block" data-aos="fade-left">
                                <div class="acc-btn">
                                    <h4><span>Q.</span>What is Novel Coronavirus?</h4>
                                </div>
                                <div class="acc-content current" style="display: block;">
                                    <div class="text">
                                        <p class="p.who">Coronaviruses are a large family of viruses which may cause illness in animals or humans.  In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as MERS and SARS.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block" data-aos="fade-left">
                                <div class="acc-btn">
                                    <h4><span>Q.</span>What are The Symptoms of COVID-19?</h4>
                                </div>
                                <div class="acc-content"   style="display: block;">
                                    <div class="text">
                                        <p class="p.who">Coronaviruses are a large family of viruses which may cause illness in animals or humans.  In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as MERS and SARS.</p>
                                    </div>
                                </div>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

  <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description ">If any query , you may contact us or leave a message. </p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
     <!--=====
      <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=delhi,%20india+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      -->
      <div class="container mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p> address<br></p>
              </div>

              

              <div>
                <i class="fa fa-phone"></i>
                <p>+1 555 123456</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



    
<!--js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
AOS.init();
</script>